---
layout: default
title: Modernthird
path: home
---

<div class="container mx-auto lg:h-screen flex flex-col justify-center px-20 max-w-4xl">
  <h1>
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      {{title}}
    </strong>
    <br/>
    is a shortlist of great&nbsp;stuff* 
    to simplify&nbsp;& live&nbsp;better.
  </h1>
  <h2 class="mt-4 mb-8">
    <span class="bg-yellow-100 p-1">Buy less</span>, enjoy the best for you, and <span class="bg-yellow-100 p-1">live more</span>.
  </h2>
  <p class="font-normal text-lg my-5" >
    <strong>*</strong> Stuff – like tools to help us live better, create, help others, and grow – can be awesome. But most of the stuff sold to us by consumer culture is throwaway and wasteful. 
  </p>
  <p class="font-normal text-lg" >
  Yet there's a middle path between being a minimalist ascetic and buying stuff you don't need. Modernthird is a list of things I really like on that middle path.  
  </p>

  {# <div class="place-self-center">
    {% include "./_includes/partials/content.njk" %}
  </div> #}
</div>