---
layout: default
title: Modernthird
path: home
---

<div class="container mx-auto mt-16 lg:mt-0 lg:h-screen lg:pb-36 flex flex-col justify-center px-6 lg:px-20 max-w-4xl">

  <a href="/reviews">
    <h1>
      <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
        {{title}}
      </strong>
      <br/>
      is a shortlist of great&nbsp;stuff* 
      to simplify&nbsp;& live&nbsp;better.
    </h1>
    <h2 class="mt-4 mb-4 leading-snug">
      <span class="bg-yellow-100 px-1">Buy&nbsp;less</span>, enjoy your best, and <span class="bg-yellow-100 px-1">live&nbsp;more</span>.
    </h2>
  </a>

  <div class="flex flex-row text-gray-700 lg:mt-2">
    <p class="flex-initial text-3xl lg:text-4xl mr-2 font-light">
    *
    </p>
    <p class="lg:text-lg mb-4">
      Actually, it's mostly tips for needing less stuff – joyful efficiency.  
    </p>
  </div>

  <div class="mt-8 lg:mt-16 mb-8 text-right">
    <a class="bg-gradient-to-r from-blue-500 to-purple-500 rounded-lg text-white text-xl font-semibold px-8 py-4" href="/reviews">
      Buy Less
    </a>
  </div>


  {# <div class="place-self-center">
    {% include "./_includes/partials/content.njk" %}
  </div> #}
</div>