---
title: The Best Stuff
layout: toc
---

<section class="mt-15">
    {% set recommendationslist = collections.recommendation %}

    {% for recommendation in recommendationslist | reverse %}
        <article class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-white my-8 max-w-full border-4 border-gray-100 border-opacity-10 rounded-3xl shadow-2xl p-8">
            <div class="">
                <h2 class="font-bold text-4xl text-gray-800 mt-2 mb-4">
                    <a href="{{ recommendation.url | url }}">
                        {% if recommendation.data.title %}
                            {{ recommendation.data.title }}
                        {% else %}
                            Untitled
                        {% endif %}
                    </a>
                </h2>
                <h3 class="font-bold text-2xl leading-tight bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
                    <a href="{{ recommendation.url | url }}">
                        {% if recommendation.data.subtitle %}
                            {{ recommendation.data.subtitle }}
                        {% endif %}
                    </a>
                </h3>
                {% if recommendation.data.description %}
                    <p class="text-lg text-gray-500 mb-3">
                        {{ recommendation.data.description }}
                    </p>
                {% endif %}

                <a href="{{ recommendation.url | url }}">
                    <p class="leading-none font-bold text-lg mt-16 leading-none mb-4 max-w-xs">
                        {{ recommendation.data.price }}
                    </p>
                    <p class="inline-block bg-blue-500 text-white rounded-lg text-xl font-semibold px-6 py-3">
                        Learn more
                    </p>
                </a>
            </div>
            <div>
            {% if recommendation.data.cover_photo %}
                <img class="object-cover rounded-3xl w-full h-full" src="/static/photo/{{ recommendation.data.cover_photo }}"/>
            {% else %}
                <img class="object-cover rounded-3xl w-full h-full" src="https://source.unsplash.com/random"/>
            {% endif %}
            </div>
        </article>
    {% endfor %}
</section>