
<a href="{{ recommendation.url | url }}">
    <div id="card-{{recommendation.fileSlug}}" class="h-4">
    </div>
    <article class="flex flex-col justify-between bg-white max-w-lg rounded-3xl shadow-2xl overflow-hidden">

        <h3 class="font-bold text-xl leading-tight bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500 pt-8 px-8">
                {% if recommendation.data.subtitle %}
                    {{ recommendation.data.subtitle }}
                {% endif %}
        </h3>

        <div class="w-11/12 pt-6 pb-12 px-8">
            <h2 class="font-bold text-3xl lg:text-4xl text-gray-800">
                {% if recommendation.data.title %}
                    {{ recommendation.data.title }}
                {% else %}
                    Untitled
                {% endif %}
            </h2>
            <p class="leading-none text-sm leading-tight mt-4 text-gray-400">
                {{ recommendation.data.price }}
            </p>
        </div>

        {% if recommendation.data.cover_photo %}
            <img class="self-end object-cover h-64 w-full" src="/static/photo/{{ recommendation.data.cover_photo }}"/>
        {% endif %}
    </article>
</a>