<a href="{{ recommendation.url | url }}">
    <article class="flex flex-col justify-between bg-white mb-1 max-w-sm rounded-3xl shadow-2xl grid-auto-rows: 1fr overflow-hidden transition duration-700 ease-out transform hover:rotate-2 hover:shadow-xl" ontouchmove>

        <h3 class="w-10/12 font-bold text-xl leading-tight bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500 pt-8 px-8">
                {% if recommendation.data.subtitle %}
                    {{ recommendation.data.subtitle }}
                {% endif %}
        </h3>

        <div class="w-10/12 pt-6 pb-12 px-8">
            <h2 class="font-bold text-4xl text-gray-800">
                {% if recommendation.data.title %}
                    {{ recommendation.data.title }}
                {% else %}
                    Untitled
                {% endif %}
            </h2>
            <p class="leading-none text-sm leading-tight mt-4 text-gray-400">
                {{ recommendation.data.price }}
            </p>
        </div>

        {% if recommendation.data.cover_photo %}
            <img class="self-end object-cover h-36 w-full" src="/static/photo/{{ recommendation.data.cover_photo }}"/>
        {% endif %}
        

    </article>
</a>